<div *ngIf="product">
    <div class="container">
        <h1>Product: {{product.name}}</h1>
        <div>
            <div>Name: {{product.name}}</div>
            <div>Category: {{product.category}}</div>
            <div><img src={{product.image}}></div>
            <div>Description: {{product.description}}</div>
            <div>Price: {{product.price}}</div>
        </div>
        <button class="remove" (click)="deleteProduct(product.id)" *ngIf="hasAdminRole">DELETE</button>
        <button class="edit" [routerLink]="['/edit-product', product.id]" *ngIf="hasAdminRole">EDIT</button>
    </div>

</div>