<div *ngIf="(selectedProduct$ | async) as product">
    <div class="container">
        <h1 i18n>Product: {{product.name}}</h1>
        <div>
            <div i18n>Name: {{product.name}}</div>
            <div i18n>Category: {{product.category}}</div>
            <div i18n><img src={{product.image}}></div>
            <div i18n>Description: {{product.description}}</div>
            <div i18n>Price: {{product.price}}</div>
        </div>
        <br>
        <div *ngIf="hasAdminRole">
            <button mat-raised-button class="remove" (click)="deleteProduct()" i18n>DELETE</button>
            <button mat-raised-button class="edit" [routerLink]="['/edit-product', product.id]" i18n>EDIT</button>
        </div>
    </div>

</div>