<div class="header-cart">
    <button mat-raised-button color="primary" class="cart" routerLink="/shopping-cart" *ngIf="hasCustomerRole"  i18n>Cart</button>
    <button mat-raised-button color="primary" class="add-product" (click)="addToCartHandler()" *ngIf="hasCustomerRole"  i18n>Add to Cart</button>
    <button mat-raised-button color="primary" routerLink="/add-product-form" class="insert-product" *ngIf="hasAdminRole"  i18n>Insert Product</button>
</div>
<div class="products-catalogue" *ngFor="let product of (allProducts$|async)">
    <div class="product-item" (click)="refreshID(product.id)">
        <a class="product-title" [title]="product.name + ' details'">
            {{ product.name }}
        </a>
        <p class="product-category" *ngIf="product.category"  i18n>
            Category: {{product.category}}
        </p>
        <img class="product-interface" src="assets/images/mac.jpg" alt="A great product" />
        <button mat-raised-button color="primary" class="button-details" [routerLink]="['/', 'product', product.id]"
            type="button"  i18n>Details</button>
    </div>
</div>