.name{
    background-color: #f5f1dd;
    margin-bottom: 10px;
    width: 50%;
}
.quantity{
    background-color: #f5f1dd;
    margin-top: 10px;
    width: 50%;
}

.cart{
    border: 2px solid black;
    box-sizing: border-box;
    width: 50%;
}